.formDiv {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25vw;
  height: 35vh;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(220, 220, 220, 0.3),
    -2px -2px 2px 2px rgba(220, 220, 220, 0.3);
}

.error-message {
  color: red;
  margin-top: 15px;
}

.form button {
  background-color: #007bff;
  color: white;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  border: none;
}
